

/* Nadpis stránky */

#nadpis{
    color: rgb(0, 255, 0);
    font-size: 2.3em;
    text-align: center;
    margin-top: 2%;
    margin-bottom: 2%;
}

/* style pro obsah */

.Info{
    overflow: hidden;
    display: flex;
    flex-direction: column;
    row-gap: 2em;
    font-size: 1.2em;
    margin: 25px;
    padding: 10px;
}
.Info h2{
    text-align: center;
    font-size: 1.2em;
    color: rgb(0, 255, 0);
}
.Info p{
    color: white;
    padding: 10px;
}

/* Popis */

.popis{
    border: 3px solid green;
    width: 100%;
    height: auto;
}

/* Aktualizace */


.Aktualizace{
    border: 3px solid green;
    width: 100%;
    height: auto;
}


/* Kontakt */


.Kontakt{
    border: 3px solid green;
    width: 100%;
    height: auto;
}

/* Update */

.Update{
    border: 3px solid green;
    width: 100%;
    height: auto;
}
